<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pergunta {{perguntaAtualIndex + 1}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="perguntaAtual">
    <ion-card>
      <ion-img [src]="perguntaAtual.imagem.diretorio" [alt]="perguntaAtual.imagem.textoAlternativo"></ion-img>
      <ion-card-header>
        <ion-card-title>{{perguntaAtual.pergunta}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-button *ngFor="let alternativa of perguntaAtual.alternativas" [color]="getItemColor(alternativa)"
      [disabled]="itensDesabilitados" button>
      <ion-label (click)="onClickAlternativa(alternativa)">{{alternativa.descricao}}</ion-label>
      <ion-icon [name]="getIcon(alternativa)" slot="end"></ion-icon>
    </ion-button>
  </ng-container>
</ion-content>