.header {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

ion-content.dark {
    ion-icon#switchButtonTheme {
        color: yellow;
    }
}

ion-content.light {
    ion-icon#switchButtonTheme {
        color: darkblue;
    }
}

ion-icon#switchButtonTheme {
    margin-top: 1rem;
    font-size: 1.5rem;
}